[submodule "sem1-linguagem-python-big-data"]
	path = sem1-linguagem-python-big-data
	url = https://github.com/alexribeirofaria/sem1-linguagem-python-big-data.git
[submodule "sem1-business-analytics-npg7688"]
	path = sem1-business-analytics-npg7688
	url = https://github.com/alexribeirofaria/sem1-business-analytics-npg7688.git
[submodule "sem1-aprendizado-profundo-deep-learning"]
	path = sem1-aprendizado-profundo-deep-learning
	url = https://github.com/alexribeirofaria/sem1-aprendizado-profundo-deep-learning.git
[submodule "sem2-tecnologias-avancadas"]
	path = sem2-tecnologias-avancadas
	url = https://github.com/alexribeirofaria/sem2-tecnologias-avancadas.git
[submodule "sem1-projeto-analitico"]
	path = sem1-projeto-analitico
	url = https://github.com/alexribeirofaria/sem1-projeto-analitico.git
[submodule "sem1-sistemas-deaprendizado-de-maquina"]
	path = sem1-sistemas-deaprendizado-de-maquina
	url = https://github.com/alexribeirofaria/sem1-sistemas-deaprendizado-de-maquina.git
[submodule "sem2-teorias-analiticas-avancadas"]
	path = sem2-teorias-analiticas-avancadas
	url = https://github.com/alexribeirofaria/sem2-teorias-analiticas-avancadas.git
[submodule "sem2-fundamentos-e-projeto-de-big-data"]
	path = sem2-fundamentos-e-projeto-de-big-data
	url = https://github.com/alexribeirofaria/sem2-fundamentos-e-projeto-de-big-data.git
[submodule "sem2-python"]
	path = sem2-python
	url = https://github.com/alexribeirofaria/sem2-python.git
[submodule "sem2-desenvolvimento-pessoal-carreira-empregabilidade"]
	path = sem2-desenvolvimento-pessoal-carreira-empregabilidade
	url = https://github.com/alexribeirofaria/sem2-desenvolvimento-pessoal-carreira-empregabilidade.git
