[submodule "sem1-linguagem-python-big-data"]
    path = projects/sem1-linguagem-python-big-data
    url = git@github.com:HONEY-TI/sem1-linguagem-python-big-data.git
    branch = master

[submodule "sem1-business-analytics-npg7688"]
    path = projects/sem1-business-analytics-npg7688
    url = git@github.com:HONEY-TI/sem1-business-analytics-npg7688.git
    branch = master

[submodule "sem1-aprendizado-profundo-deep-learning"]
    path = projects/sem1-aprendizado-profundo-deep-learning
    url = git@github.com:HONEY-TI/sem1-aprendizado-profundo-deep-learning.git
    branch = master

[submodule "sem2-tecnologias-avancadas"]
    path = projects/sem2-tecnologias-avancadas
    url = git@github.com:HONEY-TI/sem2-tecnologias-avancadas.git
    branch = main

[submodule "sem1-projeto-analitico"]
    path = projects/sem1-projeto-analitico
    url = git@github.com:HONEY-TI/sem1-projeto-analitico.git
    branch = main

[submodule "sem1-sistemas-deaprendizado-de-maquina"]
    path = projects/sem1-sistemas-deaprendizado-de-maquina
    url = git@github.com:HONEY-TI/sem1-sistemas-deaprendizado-de-maquina.git
    branch = main

[submodule "sem2-teorias-analiticas-avancadas"]
    path = projects/sem2-teorias-analiticas-avancadas
    url = git@github.com:HONEY-TI/sem2-teorias-analiticas-avancadas.git
    branch = main

[submodule "sem2-fundamentos-e-projeto-de-big-data"]
    path = projects/sem2-fundamentos-e-projeto-de-big-data
    url = git@github.com:HONEY-TI/sem2-fundamentos-e-projeto-de-big-data.git
    branch = main

[submodule "sem2-desenvolvimento-pessoal-carreira-empregabilidade"]
    path = projects/sem2-desenvolvimento-pessoal-carreira-empregabilidade
    url = git@github.com:HONEY-TI/sem2-desenvolvimento-pessoal-carreira-empregabilidade.git
    branch = main

[submodule "sem2-ciclo-de-vida-e-linguagem-r"]
    path = projects/sem2-ciclo-de-vida-e-linguagem-r
    url = git@github.com:HONEY-TI/sem2-ciclo-de-vida-e-linguagem-r.git
    branch = main
[submodule ".ai"]
	path = .ai
	url = git@github.com:HONEY-TI/.ai.git
    branch = main